TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+15734886298
AIRTABLE_ACCESS_TOKEN=your_airtable_token
AIRTABLE_BASE_ID=appxxqJkbicRWWkXk
CHANGE_ORDERS_TABLE_ID=tblIN7lZqrwtKWr3f
SUBCONTRACTORS_TABLE_ID=tblbctkbhybLrUBYE
PROJECTS_TABLE_ID=tblkoDKp5WvKzfKmx
SLACK_WEBHOOK_URL=your_slack_webhook_url
